h1 Documentation: 
h4 Keyboard shortcuts:
ul 
  li Open "add stock types": alt + a
  li Open "view stock": alt + s
  li Open "sales": alt+ shift + s
  li Open "blog": alt + b
  li Toggle docs: alt + d
  li Close alert modal: space
  li Change focused element: tab
