include ./microdocs.pug  
include ./Mixins.pug
              
h2 Shop options:
.backendbox 
  .itemGroup
    .itemGCtable 
      h3 Theme options
      h4 Shop page, /shop 
      p Themes link image: 
      +images(null, 'placeholderimage', 'themes', '/images/entity/themes.jpg')
      p Shapes link image:
      +images(null, 'placeholderimage', 'shapes', '/images/entity/shapes.jpg')
      p Types link image: 
      +images(null, 'placeholderimage', 'types', '/images/entity/types.jpg')
      p Special link image:
      +images(null, 'placeholderimage', 'special', '/images/entity/special.jpg')
      p Bespoke link image:
      +images(null, 'placeholderimage', 'bespoke', '/images/entity/bespoke.jpg')
      h4 Home page, /
      p Shop link image: 
      +images(null, 'placeholderimage', 'shop', '/images/entity/shop.jpg')
      p Blog link image:
      +images(null, 'placeholderimage', 'blog', '/images/entity/blog.jpg')
      p About or "my story" image: 
      +images(null, 'placeholderimage', 'about', '/images/entity/about.jpg')
