extends masterView.pug
block otherstyles

block description
  meta(name="description", content="description")
  meta(name="keywords", content="keywords")
block robots
  meta(name="robots", content= "index")
block title
  title="title"
  //-meta(name="title", content=title)
block bodycontent
  script(type="application/ld+json")
    !="{jsonldpage}"
  
  include ./shopfolder.pug

  block orderConfirmation
    //.orderConfirmation          
block modals
  
block pagespecificscripts
