.shoppingCart.toggleCart.bounceOnHover(name='toggle shopping cart view')
  span.cartCount.cartCount
  span.cartCount.bookingCount
  -//img.swiftmoShoppingCart(src="/images/cart_icon.svg" alt="Shopping cart")
  img.swiftmoShoppingCart(src="/images/entity/shopping-cart-64.webp" alt="Shopping cart")
.shoppingCartModal
