.itemModal.modal
  .modalContent.itemGroupColumn
    .fullrowTopRight
      .circle.sms2.circleClose
        .before
        .after
    .fullrowTopRight    
      h3 Your cart is empty.
    .buttonContainer  
      
      
