-let display = (displayPage) ? displayPage : 0; 
-let pageCount = 10;

.pages.itemGroup#deck
  .alertdivfolder
  
  if display === 0
    .page.page0.focus 
      block page0
  else
    .page.page0.reduce 
      block page0
  if display === 1
    .page.page1.focus 
      block page1
  else
    .page.page1.reduce 
      block page1
  if display === 2
    .page.page2.focus 
      block page2
  else
    .page.page2.reduce 
      block page2
  if display === 3
    .page.page3.focus 
      block page3
  else
    .page.page3.reduce 
      block page3
  if display === 4
    .page.page4.focus 
      block page4
  else
    .page.page4.reduce 
      block page4
  if display === 5
    .page.page5.focus 
      block page5
  else
    .page.page5.reduce 
      block page5
  if display === 6
    .page.page6.focus 
      block page6
  else
    .page.page6.reduce 
      block page6
  if display === 7
    .page.page7.focus 
      block page7
  else
    .page.page7.reduce 
      block page7
  if display === 8
    .page.page8.focus 
      block page8
  else
    .page.page8.reduce 
      block page8
  if display === 9
    .page.page9.focus 
      block page9
  else
    .page.page9.reduce 
      block page9  
