.itemGroup.mainBody
  -//+cardLink('./shop/designs',language[1], 'placeHolderTheme')
  +cardAjax('browseByTheme', language[1], 1, 'placeHolderTheme')
  +cardAjax('browseByItemType', language[2], 1, 'placeHolderItemType')
  +cardAjax('browseSpecial', language[3], 3, 'placeHolderSpecial')
  +cardAjax('browseTiles', language[4], 4, 'placeHolderTiles')
