@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/backendStatic/css/fonts/glyphicons-halflings-regular.ttf") format("truetype");
  font-style: normal; }

/**
  * @funtion makeShaddow
  * @param blurRadius bigger means bigger, lighter shaddow
  * @param spread This is the size of shaddow (0 === same size as element), (10px === el.height, width + 10px)
  * @param the offsets basically control how box fits relative to the element
  * Drop shadow lays outside an elemen
  */
@keyframes bounce {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@media (min-width: 1024px) {
  body {
    margin: 0; }
  .gutterMargin {
    margin-top: 149px; }
  .mobileMenuTop {
    display: none; }
  .desktopMenuTop {
    display: block; }
  .desktopMenuTop {
    display: block;
    background: #000066; }
  .menuNotLink {
    background-color: #000066; }
  .menuNotLink > img {
    width: 90vh; }
  .menuNotLink:hover {
    background-color: #333; }
  .gutters {
    flex: 1 1 40px; }
  .guttersBody {
    flex: 2 0 60%; }
  .potBespoke {
    font-size: 3vw !important;
    max-width: 370px; }
  .modalContent {
    margin: 1em 20vw !important; }
  .itemButton {
    flex-basis: 17em;
    padding: 1em;
    cursor: pointer;
    border-radius: 0em; }
    .itemButton img {
      border-radius: 0.15em;
      max-width: 100%;
      height: auto; } }
