@font-face {
  font-family: "Roboto Slab";
  src: url("/frontendStatic/css/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Redressed Regular";
  src: url("/frontendStatic/css/fonts/Redressed-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "Belleza Regular";
  src: url("/frontendStatic/css/fonts/Belleza-Regular.ttf") format("truetype");
  font-style: normal; }

/**
  * @funtion makeShaddow
  * @param blurRadius bigger means bigger, lighter shaddow
  * @param spread This is the size of shaddow (0 === same size as element), (10px === el.height, width + 10px)
  * @param the offsets basically control how box fits relative to the element
  * Drop shadow lays outside an elemen
  */
@font-face {}@media print {
  #footer {
    display: none; }
  p, b {
    line-height: 16px;
    font-size: 16px; }
  h1, h2, h3, h4 {
    margin: 0.5em 0em; }
  h4 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1em;
    text-align: left; }
  h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.1em;
    text-align: left; }
  .contactSpace {
    height: 1.2em; }
    .contactSpace a {
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      font-size: 16px;
      color: #f5c396; }
  .printBtn, .whitespace, .desktopMenuTop, .mobileMenuTop, .copyright {
    display: none !important; }
  .hideForPrint {
    display: none; }
  .printHeader {
    display: block; } }
